html{
	scroll-behavior: smooth;
}
body {
    background-color: #fff;
    margin: 0;	
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	height: 65px;
	background-color: black;
}

nav{
	display: none;
	flex-direction: row;
}

.nav-item{
	margin-left:80px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

.nav-item a{
	color: #fff;
	text-decoration: none;
}

.nav-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	background: #000;
	border: 0;
}

.nav-btn img{
	width: 42px;
	height: 42px;
} 

.logo
{
	max-height: 30px;
	width: auto;
	cursor: pointer;
}

.section-main{
	height: 100vh;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), 
	url("img/background.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: start;
	color: white;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
	margin-top: 120px;
	margin-left: 10vh;
	margin-right: 10vh;
	margin-bottom: 10px;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin-left: 10vh;
	margin-right: 10vh;
}
#buttonMain{
	height: 125px;
	width: 458px;
	border: none;
	border-radius: 80px;
	background-color: #B11919;
	font-family: 'Secular One', sans-serif;
	font-size: 40px;
	color: white;
	margin-left: 10vh;
	margin-top: 120px;
}
.section{
	height: 100vh;
}
footer
{
	font-family: 'Montserrat', sans-serif;
	height: 100px;
	background-color: black;
	color: white;
	bottom: 0;
	font-size: 28px;
	width: 100%;
	text-align: center;
}


@media (max-width: 900px) {
	#button{
		display: block;
		position: relative;
		width: 50px;
		height: auto;
	}
	#button:hover{
		cursor: pointer;
	}
	h1{
		font-size: 40px;
		margin-top: 120px;
		margin-left: 5vh;
		margin-right: 5vh;
	}
	h2{
		font-family: 'Montserrat', sans-serif;
		font-size: 25px;
		margin-left: 5vh;
		margin-right: 5vh;
	}
	#buttonMain{
		height: 101px;
		width: 374px;
		border-radius: 80px;
		font-size: 35px;
		margin-left: 5vh;
		margin-top: 80px;
	}
}

@media (min-width: 900px) {
	#button{
		display: none;
	}

	.logo {
		max-height: 36px;
		width: auto;
	}

	nav{
		display: flex;
	}
}